@model AnasayfaViewModel
<div class="container">
	<div class="but-calls">
		<a onclick="return gtag_report_conversion('tel:+905452071104');" class="but-call" href="tel:+905452071104" title="Telefon İle Ara"><i class="fas fa-phone"></i> ARA: 0545 207 11 04</a>
		<a onclick="return gtag_report_conversion('https://api.whatsapp.com/send?phone=+905452071104&amp;text=Merhaba');" class="but-whatsapp" href="https://api.whatsapp.com/send?phone=+905452071104&amp;text=Merhaba" rel="canonical" title="Whatsapp'tan yaz"><i class="fab fa-whatsapp"></i> Whatsapp'dan Yaz</a>
		<a onclick="return gtag_report_conversion('rezervasyon.html');" class="but-whatsapp" href="~/Rezervasyon" rel="canonical" title="Rezervasyon">Rezervasyon</a>
	</div>
	<br>
	<div class="reg-bg">
		<div class="regular home-another">

			@foreach (var item in Model.AnasayfaListesi)
			{
				@if (item.Id == 1)
				{
					@Html.Raw(@item.Metin);
				}
				continue;
			}

		</div>
	</div>
	<div class="reg-bg">
		<div class="regular">
			<div class="reg-con">
				<section>
					@foreach (var item in Model.AnasayfaListesi)
					{
						if(item.Id==2)
						{
							@Html.Raw(@item.Baslik);
							@Html.Raw(@item.Metin);
							
						}
						continue;
					}
					

					
				</section>
			</div>
			<div class="reg-con">
				<section>
					@foreach (var item in Model.AnasayfaListesi)
					{
						if (item.Id == 3)
						{
							@Html.Raw(@item.Baslik)
							;
							@Html.Raw(@item.Metin)
							;

						}
						continue;
					}
				</section>
			</div>
			<div class="reg-con">
				<section>
					@foreach (var item in Model.AnasayfaListesi)
					{
						if (item.Id == 4)
						{
							@Html.Raw(@item.Baslik)
							;
							@Html.Raw(@item.Metin)
							;

						}
						continue;
					}
				</section>
			</div>
			<div class="reg-con">
				<section>
					@foreach (var item in Model.AnasayfaListesi)
					{
						if (item.Id == 5)
						{
							@Html.Raw(@item.Baslik)
							;
							@Html.Raw(@item.Metin)
							;

						}
						continue;
					}
				</section>
			</div>
			<div class="reg-con">
				<section>
					@foreach (var item in Model.AnasayfaListesi)
					{
						if (item.Id == 6)
						{
							@Html.Raw(@item.Baslik)
							;
							@Html.Raw(@item.Metin)
							;

						}
						continue;
					}
				</section>
			</div>
			<div class="reg-con">
				<section>
					@foreach (var item in Model.AnasayfaListesi)
					{
						if (item.Id == 7)
						{
							@Html.Raw(@item.Baslik)
							;
							@Html.Raw(@item.Metin)
							;

						}
						continue;
					}
				</section>
			</div>
			<div class="reg-con">
				<section>
					@foreach (var item in Model.AnasayfaListesi)
					{
						if (item.Id == 8)
						{
							@Html.Raw(@item.Baslik)
							;
							@Html.Raw(@item.Metin)
							;

						}
						continue;
					}
				</section>
			</div>
		</div>
	</div>
	<div class="info-adress d-table">
		<span class="d-cell va-middle"><i class="fas fa-map-marker-alt"></i></span>
		<span class="d-cell va-middle">
			@foreach (var item in Model.IletisimListesi)
			{
				@Html.Raw(item.Adres)
			
			}
		</span>
	</div>
</div>